/*input {
    margin: 15px 0 5px 0;
}*/

nav {
    margin: 5px auto 5px auto;
    height: auto;
    width: 400px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    border: 0.5px solid #000000;
    box-shadow: 2px 2px 2px #414141;
    padding: 10px 0 5px 0;
}

h1 {
    margin: 0 auto;
    text-align:center;
    text-shadow: 2px 2px 2px #808080;
}

body {
background: url(1.jpg);
background-size:cover;
}

footer {
    margin: 5px auto 5px auto;
    text-align: center;
    padding: 10px 0 5px 0;
}
